<!DOCTYPE html>
<html>
<head>
    <title>List of Users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">List of Users</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user_logout" %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href= "{% url 'register' %}" >Register</a>
                    </li>
                </ul>   
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="mt-5"></h1>
        <div class="d-flex justify-content-between mb-3">
            <a href="{% url 'show_all_users'  %}" class="btn btn-dark">Users</a>
            <a href="{% url 'create_order' %}" class="btn btn-dark">Order</a>
            <a href="{% url 'author_views' %}" class="btn btn-dark">Authors</a>
            <a href="{% url 'all_books' %}" class="btn btn-dark">Books</a>
        </div> 
        <table class="table mt-4">
        <table class="table mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Middle name </th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.middle_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>
                         <a href="{% url 'views_user' user.id %}" class="btn btn-primary">View</a> 
                    </td>
                </tr>
                {% endfor %}   
            </tbody>
        </table> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
