<!DOCTYPE html>
<html>
<head>
    <title>{{ user.first_name }}'s Books</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ user.first_name }}'s Books</h1>
        <table class="table mt-4">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <!-- Add more book details as needed -->
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.description }}</td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No books found for {{ user.first_name }}.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'all_books'  %}" class="btn btn-primary mt-3">Back to List</a>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


