<!DOCTYPE html>
<html>
<head>
    <title>Remove Unused Authors</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Remove Unused Authors</h1>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for author in unused_authors %}
                <li>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author{{ author.id }}" name="authors_to_remove" value="{{ author.id }}">
                        <label class="custom-control-label" for="author{{ author.id }}">{{ author.name }} {{ author.surname }}</label>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-danger">Remove Selected Authors</button>
            <a href="{% url 'author_views' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <!-- Підключення Bootstrap JS та jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
